<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票结果</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="div1">
        <h1>投票信息：{{vot.votename}}</h1>
        <h3>投票选项</h3>
        <ul>
            {% for option in options %}
            <li> <h4>{{option.options}} 票数：{{option.number}}</h4></li>
            {% empty%}
            <h3>该投票没有选项</h3>
            {% endfor %}
        </ul>
        <a href="{% url 'polls:list' %}">返回</a>
    </div>
</body>
</html>