<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="div1">
        <h2>书名:{{Bookdata.btitle}}</h2>

        <ul>
            {% for hero in Bookdata.heroinfo_set.all %}
                <li>{{ hero.hname }}--------{{hero.hcontent}}
                    <a href="{% url 'booktest:herodelete' hero.id %}">删除</a>
                    <a href="{% url 'booktest:heroupdate' hero.id %}">编辑</a>
                </li>
            {% empty %}
                <h3>没有人物</h3>
            {% endfor%}
        </ul>

        {# <a href="/booktest/list/">返回列表页</a> #}
        <a href="{% url 'booktest:list' %}">返回列表页</a>
        <a href="{% url 'booktest:heroadd' Bookdata.id %}">添加人物</a>
    </div>
</body>
</html>