<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加人物</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
        <div class="div1">
            <form action="{% url 'booktest:heroinfoadd' %}" method="post">
                人物名： <input type="text" name="heroname">
                <br>
                性别：<input type="radio" value="1" name="sex" checked>男
                <input type="radio" value="0" name="sex">女
                <br>
                绝招：<input type="text" name="herocontent">
                <input type="hidden" value="{{bookid}}" name="bookid">
                <br>
                <input type="submit" value="提交">
            </form>
        </div>
</body>
</html>